
* {
    font-family: 'Kosugi faru', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

/* container */
.container {
    padding-left: 300px;
    box-sizing: border-box;
}

/* header */
.header {
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #2653d7;
    color: #fff;
    position: fixed;
    top: 0;
    overflow: auto;
    z-index: 1;
}
.header-text {
    border: #fff solid 3px;
    border-radius: 5px;
    padding: 40px 35px 25px 40px;
}
.map-img {
    width: 200px;
}
.map-container {
    display: none;
}
#map-container a {
    height: 1px;
}
#map-container span {
    opacity: 0;
    transition: 0.5s;
    background: #d5d7fc;
    position: absolute;
    color: #2653d7;
    padding: 5px;
    width: 100px;
    bottom: calc(100% + 17px);
    left: -25%;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
}
#map-container a::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-top: 14px solid #d5d7fc;
    bottom: 12px;
    left: calc(50% - 7px);
    margin-top: -3px;
    visibility: hidden;
    pointer-events: none;
}
#map-container a:hover:before {
    opacity: 1;
    visibility: visible;
}
#map-container a:hover span {
    opacity: 1;
    visibility: visible;
}
.site-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* nav*/
#navi-list {
    padding: 0;
}
#navi-list li {
    padding: 3.4px;
}
#navi-list a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

/* map-hamburger */

.map-hamburger {
    cursor: pointer;
    align-items: center;
    transition: 0.5s;
    z-index: 20;
    display: block;
}
.navi-map {
    width: 100%;
}

.open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#map-container {
    background-color: #2653d7;
    height: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    transform: translateY(25%);
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 21;
}
.open-map #map-container {
    display: block;
    left: 0;
    opacity: 1;
}

/* map */
.map {
    position: relative;
    width: 100%;
}
.point {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, 0);
    width: 40px;
    height: 40px;
}


/* station-info */
.station-info {
    padding-top: 10px;
}
#station-info-title {
    font-size: 70px;
    height: 80px;
    width: 100%;
    text-align: center;
    color: #2653d7;
    position: relative;
}
#station-info-image {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
#station-info-image img {
    width: 46%;
    border: 10px solid #2653d7;
    border-radius: 30px;
}
.border {
    border-top:  solid 1px #2653d7;
}
.station-info-text {
    padding: 0px 25px 25px 25px;
    display: flex;
    flex-wrap: wrap;
}
#each-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom:  solid 1px #2653d7;
}

#info-item {
    width: 30%;
    padding-right: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    border-right:  dotted 2px #2653d7;
    color: #2653d7;
    float: left;
}
#station-info-text dd {
    width: 58%;
    font-size: 30px;
    color: #2653d7;
    padding: 10px 0px 10px 30px;
    display: flex;
    align-items: center;
    float: left;
}
dl #each-info:nth-child(odd) {
    background-color: #d5d7fc;
}
.station-info-icon {
    padding: 10px;
    height: 40px;
    width: 40px;
}

/* station-info+ */
#station-info-facility {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#info-facility-item {
    width: 285px;
    padding: 10px;
    display: flex;
    float: left;
    align-items: center;
}
#info-facility-item img {
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
.exist {
    padding-left: 15px;
    font-size: 30px;
    align-items: center;
    color: #2653d7;
    opacity: 1;
}
.not-exist {
    padding-left: 15px;
    font-size: 30px;
    align-items: center;
    color: #2653d7;
    opacity: 0.3;
}

/* footer */ 
.footer {
    padding: 5px;
    height: auto;
    margin: 0;
    background-color: #2653d7;
    color: #fff;
    font-size: 25px;
}
.footer p {
    text-align: center;
    padding: 15px 0;
    border: #fff solid 3px;
    border-radius: 5px;
}

@media (max-width: 960px) {
     .container {
        padding-left: 0;
     }
     .header {
        width: 100%;
        height: auto;
        padding: 5px;
     }
     .header-text {
        border: none;
        padding: 0;
     }
     .site-title{
        list-style: none;
        border: #fff solid 3px;
        border-radius: 5px;
        padding: 10px 0px;
     }
     .point {
        width: 30px;
        height: 30px;
    }

    #station-info-title {
        padding-top: 80px;
    }

    #station-info-image {
        padding-bottom: 35px;
    }

    #station-info-text dd {
        font-size: 30px;
    }
    #station-info-text dt {
        font-size: 30px;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: fixed;
        align-items: center;
        top: 25px;
        right: 18px;
        transition: 0.5s;
        z-index: 20;
    }
    .hamburger span {
        width: 30px;
        height: 2px;
        background-color: #fff;
        border-radius: 4px;
        display: block;
        position: absolute;
        left: 0;
        transition: 0.5s;
    }
    .hamburger span:nth-child(1) {
        top: 4px;
    }
    .hamburger span:nth-child(2) {
        top: 14px;
    }
    .hamburger span:nth-child(3) {
        bottom: 4px;
    }
    .open .hamburger span {
        background-color: #fff;
    }
    .open .hamburger span:nth-child(1) {
      transform: translateY(10px) rotate(-315deg);
    }
    .open .hamburger span:nth-child(2) {
      opacity: 0;
    }
    .open .hamburger span:nth-child(3) {
      transform: translateY(-10px) rotate(315deg);
    }
    .open-navi #navi {
        left: 0;
        opacity: 1;
    }
    #navi {
        padding: 300px;
        background-color: #2653d7;
        padding: 5px;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        opacity: 0;
        overflow-y: auto;
        transition: 0.5s;
        z-index: 20;
    }
    .open-navi #navi {
        bottom: 0;
        opacity: 1;
    }
    #navi-list {
        border: #fff solid 3px;
        border-radius: 5px;
        padding: 30px 30px 25px 35px;   
    }
    #navi-list li {
        list-style: none;
    }
    .map-img {
        width: 90px;
    }
    .map-hamburger {
        cursor: pointer;
        position: fixed;
        align-items: center;
        top: 12px;
        left: 18px;
        transition: 0.5s;
        z-index: 20;
        display: block;
    }
    #map-container {
        background-color: #2653d7;
        padding: 5px;
        position: fixed;
        height: auto;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        overflow-y: auto;
        transition: 0.5s;
        z-index: 21;
    }
    .open-map #map-container {
        opacity: 1;
    }
    #info-facility-item {
        width: 240px;
    }
    #info-facility-item p {
        font-size: 25px;
    }
    #info-facility-item img {
        width: 50px;
        height: 50px;
    }
     br {
        display: none;
     }
     
}
@media (max-width: 600px) {
    .site-title {
       font-size: 25px;
    }
    .point {
       width: 25px;
       height: 25px;
    }
    .station-info-title {
        width: 100%;
        font-size: 60px;
    }
    .hamburger {
        top: 20px;
    }
    #station-info-image {
        flex-direction: column;
    }
    #station-info-image img {
        width: 95%;
        margin: 10px 0px;
    }
    #info-item {
        border-right: none;
        width: 100%;
    }
    #station-info-title {
        font-size: 50px;
    }
    .station-info-icon {
        width: 30px;
        height: 30px;
    }
    #station-info-text dt {
        font-size: 15px;
        width: auto;
        border-right: none;
    }
    #station-info-text dd {
        font-size: 15px;
        padding-left: 52px;
        border-top: dotted 2px #2653d7;
        width: 100%;
    }
    #info-facility-item {
        width: 150px;
    }
    #info-facility-item p {
        font-size: 15px;
    }
    #info-facility-item img {
        width: 30px;
        height: 30px;
    }
    .map-img {
        width: 75px;
    }
}
